.project {
    h1 {
        a {
            margin-right: 15px;
        }
    }
    figure {
        position: relative;
        margin: 0;
        padding: 0;
    }
    p {
        font-size: $font-size-headline-secondary;
        max-width: 900px;
        margin: 15px 0;
    }
}
ul.pager {
    list-style: none;
}