$background-color: #eee;

$font-color: black;
$font-color-inactive: rgba(0, 0, 0, 0.2);

$link-colour: #0008FF;
$font-size-headline: 2em;
$font-size-headline-secondary: 1.4em;
$font-size-ratio: 1.42857143em;