{{ define "main" }}
    <main aria-role="main">
      <div class="index-list project-list">
        <div>Projects</div>
        <ul>
          {{ range where .Site.Pages "Type" "project"}}
              <li><a href="{{ .Permalink }}">{{ .Title }}</a> [{{ .Params.for }}]</li>
          {{ end }}
        </ul>
      </div>
      <div class="index-list  also-project-list">
        <div>Also projects</div>
        <ul>
          {{ range where .Site.Pages "Type" "also-project"}}
            {{ if isset .Params "external" }}
              <li><a href="{{ .Params.external }}" target="_blank">{{ .Title }}</a> [{{ .Params.for }}] <span>↗</span></li>
            {{ else }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a> [{{ .Params.for }}]</li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
    </main>
{{ end }}